@model SchoolManagementApp.MVC.Data.Course

@{
    ViewData["Title"] = "Delete";
}

<h1 class="MB-4">Delete Course</h1>

<h3 class="text-danger">Are you sure you want to delete this?**</h3>
<div>
    <hr />

  <form class="row">

    <div class="mb-3">
      <label for="name" class="form-label">@Html.DisplayNameFor(model => model.Name)</label>
      <input type="text" class="form-control" id="name" aria-describedby="name"
        value="@Html.DisplayFor(model => model.Name)" readonly>
    </div>
    <div class="mb-3">
      <label for="name" class="form-label">@Html.DisplayNameFor(model => model.Code)</label>
      <input type="text" class="form-control" id="name" aria-describedby="name"
        value="@Html.DisplayFor(model => model.Code)" readonly>
    </div>
    <div class="mb-3">
      <label for="name" class="form-label">@Html.DisplayNameFor(model => model.Credits)</label>
      <input type="text" class="form-control" id="name" aria-describedby="name"
        value="@Html.DisplayFor(model => model.Credits)" readonly>
    </div>
  </form>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-warning" /> 
  <a class="btn btn-danger" asp-action="Index"><i class="fa-solid fa-house"></i> Back to List</a>
    </form>
</div>
