@model SchoolManagementApp.MVC.Data.Class

@{
    ViewData["Title"] = "Details";
}

<h1 class="mb-4">Details Class</h1>

<div>
    <hr />


    <form class="row">

        <div class="mb-3">
            <label for="Time" class="form-label">@Html.DisplayNameFor(model => model.Time)</label>
            <input type="text" class="form-control" id="Time" aria-describedby="name"
                value="@Html.DisplayFor(model => model.Time)" readonly>
        </div>
        <div class="mb-3">
            <label for="Courses" class="form-label">@Html.DisplayNameFor(model => model.Courses)</label>
            <input type="text" class="form-control" id="Courses" aria-describedby="name"
                value="@Html.DisplayFor(model => model.Courses)" readonly>
        </div>
        <div class="mb-3">
            <label for="Courses.Id" class="form-label">@Html.DisplayNameFor(model => model.Courses.Id)</label>
            <input type="text" class="form-control" id="Courses.Id" aria-describedby="name"
                value="@Html.DisplayFor(model => model.Courses.Id)" readonly>
        </div>
        <div class="mb-3">
            <label for="Lecturer" class="form-label">@Html.DisplayNameFor(model => model.Lecturer)</label>
            <input type="text" class="form-control" id="Lecturer" aria-describedby="name"
                value="@Html.DisplayFor(model => model.Lecturer)" readonly>
        </div>
        <div class="mb-3">
            <label for="Lecturer.Id" class="form-label">@Html.DisplayNameFor(model => model.Lecturer.Id)</label>
            <input type="text" class="form-control" id="Lecturer.Id" aria-describedby="name"
                value="@Html.DisplayFor(model => model.Lecturer.Id)" readonly>
        </div>
    </form>
</div>
<div>
    <a asp-action="Edit" asp-route-id="qModel?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
