@model IEnumerable<SchoolManagementApp.MVC.Data.Class>

@{
    ViewData["Title"] = "Index";
}

<h1 class="mb-4">List of Classes</h1>

<p>
    <a class="btn btn-primary" asp-action="Create"><i class="fa-solid fa-plus"></i> Create New</a>
</p>
<table class="table table-striped table-hover">
    <thead class="table-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Time)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Courses)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Lecturer)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Time)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Courses.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Lecturer.Id)
            </td>
            <td>
                <a asp-action="Edit" class="btn btn-info" asp-route-id="@item.Id"><i class="fa-solid fa-pen-to-square"></i></a> 
                <a asp-action="Details" class="btn btn-warning" asp-route-id="@item.Id"><i class="fa-solid fa-circle-info"></i></a> 
                <a asp-action="Delete" class="btn btn-danger" asp-route-id="@item.Id"><i class="fa-solid fa-trash"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>
@section Scripts {
    <script>
        $(document).ready(function () {
            $('#table').DataTable();
        });
    </script>
}